.container {
  .content {
    margin: 150px 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 70%;

    h1 {
      margin-bottom: 30px;
      font-weight: 300;
      margin: 0;
      margin-bottom: 20px;
    }
    p {
      width: 65%;
      font-size: 14px;
      font-weight: 200;
      line-height: 1.5;
      margin: 0;
    }
    .paragraph1 {
      padding-bottom: 20px;
    }
    .list {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
  }
}
